:root {
  --signalr: #00abec;
  --dimmed: rgba(255, 255, 255, .3);
}

.signalr {
  color: var(--signalr);
}

.no-bullets {
  list-style-type: none !important;
  font-size: 3rem !important;
}

.no-bullets > li > i.fa-check {
  color: limegreen;
}

.reveal h1 {
  color: var(--signalr);
}

.img-fit > img {
  width: 280px; 
}

.logo {
  width: 120px;
  padding: 10px;
  padding-left: 60px;
}

  .logo > .signalr-svg {
      fill: var(--signalr);
  }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "top-left top-center top-right" "middle-left middle-center middle-right" "bottom-left bottom-center bottom-right";
}

.top-left { grid-area: top-left; }
.top-center { grid-area: top-center; }
.top-right { grid-area: top-right; }
.middle-left { grid-area: middle-left; }
.middle-center { grid-area: middle-center; }
.middle-right { grid-area: middle-right; }
.bottom-right { grid-area: bottom-right; }
.bottom-left { grid-area: bottom-left; }
.bottom-center { grid-area: bottom-center; }

.dimmed {
  color: var(--dimmed) !important;
}

.dark-bg > blockquote {
  background: rgba(0,0,0,0.7) !important;
}

.blinking {
  animation: blinkingText 1.25s linear infinite;
}

@keyframes blinkingText {
  50% { 
    color: var(--dimmed);
  }
}

img.mute {
  border: none !important;
  box-shadow: none !important;
  background: none  !important;
  filter: drop-shadow(0px 0px 1px black);
}

img.me {
  border: none !important;
  box-shadow: none !important;
  background: none  !important;
  filter: drop-shadow(0px 0px 5px white);
}

.title {
  font-size: 2.7em;
}

.invert {
  filter: invert(100%);
}

.twitter {
  color: #0084b4;
}

.emphasize {
  font-size: 1.2em !important;
  color: rgb(224, 141, 46);
  font-weight: 900 !important;
  text-shadow: 0 0 40px black;
}

.demo {
  font-size: 2.8em !important;
  color: crimson;
  font-weight: 900 !important;
  text-shadow: 0 0 20px black;
}

.image-glow {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  filter: drop-shadow(0 0 40px rgba(255, 255, 255, .5));
}

.stark-shadow {
  text-shadow: 0 0 30px black;
}

.soft-shadow {
  text-shadow: 0 0 75px black;
}

.sharp-glow {
  text-shadow: 0 0 15px rgba(255,255,255,0.3);
}

.faint-glow {
  text-shadow: 0 0 75px rgba(255,255,255,0.3);
}

.blue-glow {
  text-shadow: 0 0 25px #96cbfe;
}

h4.one-half {
  font-size: 1.5em;
}

.shadow {
  text-shadow: 0 0 15px black;
}

.big {
  font-size: 1.5em !important;
}

.b,
.bold {
  font-weight: 900 !important;
}

.none {
  list-style-type: none !important;
  width: 90%;
  text-align: center !important;
}

.reveal blockquote {
  border-radius: 17px;
  padding: 17px;
  background: rgba(255,255,255,0.17);
  width: 85%;
}

.reveal blockquote p {
  font-style: normal;
}

.reveal blockquote p i.fa-quote-left {
  float: left;
  margin-left: -52px;
  font-size: 77px;
}

.grid {
  display: grid;
  grid-gap: 40px;

  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  grid-template-areas: 
  ' . top-left top-right . '
  ' . bottom-left bottom-right . ';
}

.top-left {
  grid-area: top-left;
  align-self: center;
  justify-self: center;
}

.top-right {
  grid-area: top-right;
  align-self: center;
  justify-self: center;
}

.bottom-left {
  grid-area: bottom-left;
  align-self: center;
  justify-self: center;
}

.bottom-right {
  grid-area: bottom-right;
  align-self: center;
  justify-self: center;
}

.underline {
  text-decoration: underline !important;
}

p > span.code-presenting-annotation.fragment.current-only.visible.current-fragment {
  text-transform: uppercase !important;
  font-size: 80% !important;
}

.reveal pre {
  width: 100%;
  margin: 0;
}

.reveal pre code {
  font-size: 1.2em;
  line-height: 1.2;
  max-height: 50vh !important;
  opacity: 0.90;
  border-radius: 10px;
  overflow: hidden !important;
}
  
@media (device-width: 100vw) and (device-height: 100vh) {
  .reveal pre code {
    max-height: 45vh !important;
  }
}
  
.reveal .slides section .code-presenting-annotation {
  color: white;
  background: black;
  padding: 1px 15px;
  border-radius: 15px;
  opacity: 0.75 !important;
  font-size: 50% !important;
}

.reveal p span.slide-title {
  color: white;
  background: black;
  padding: 4px 15px;
  opacity: 0.75 !important;
  border-radius: 15px;
  display: none;
}
.reveal div.left {
  float: left;
  z-index: -10;
  width: 45%;
}

.reveal div.right {
  float: right;
  z-index: -10;
  width: 55%;
}

.reveal a.pro-link {
  color: white;
  font-size: 0.5em;
}

#title-footer {
  color: white;
  background: black;
  opacity: 0.65 !important;
}

#title-footer p.footer-hard {
  color: #b6b6b6;
}

#title-footer p.footer-fade {
  color: #b6b6b6;
}

#gp-logo img {
  max-height: 2em;
  max-width: none;
}

.white {
  color: white;
}

.red {
  color: red;
}

.green {
  color: green;
}

.gp-tip { font-size : 1.5em; }

.gp-contact { font-size : 1.4em; }

.gp-download { margin-left: 10px; }

.flash {
  animation-name: flash;
  animation-duration: 0.77s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

@keyframes flash {
  from { opacity: 1; }
  to { opacity: 0; }
}

.nodding i {
  animation: nod 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes nod {
  10%, 90% {
    transform: translate3d(0, -1px, 0);
  }
  
  20%, 80% {
    transform: translate3d(0, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0, -4px, 0);
  }

  40%, 60% {
    transform: translate3d(0, 4px, 0);
  }
}


img.excited {
  animation: shake 5s cubic-bezier(.36,.07,.19,.97) infinite;
  transform: translate3d(0, 0, 0);

}

.shaking i {
  animation: shake 1.77s cubic-bezier(.36,.07,.19,.97) infinite;
  transform: translate3d(0, 0, 0);
}

.waving i {
  animation: wave 450ms infinite;
  transform-origin: bottom;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform:rotate(5deg);
  }
  50% {
    -webkit-transform:rotate(-5deg);
  }
  100% {
    -webkit-transform:rotate(5deg);
  }
}

@-moz-keyframes wave {
  0% {
    -moz-transform:rotate(5deg);
  }
  50% {
    -moz-transform:rotate(-5deg);
  }
  100% {
    -moz-transform:rotate(5deg);
  }
}

@-ms-keyframes wave {
  0% {
    -ms-transform:rotate(5deg);
  }
  50% {
    -ms-transform:rotate(-5deg);
  }
  100% {
    -ms-transform:rotate(5deg);
  }
}

@keyframes wave {
  0% {
    transform:rotate(5deg);
  }
  50% {
    transform:rotate(-5deg);
  }
  100% {
    transform:rotate(5deg);
  }
}

html.bg-img-opacity-15 .slide-background.present:not([data-background-hash*='binary-strings-black.jpg']) {
  opacity: 1 !important;
}

@keyframes shake {
2% {
  transform: translate(-0.5px, 1.5px) rotate(1.5deg); }
4% {
  transform: translate(1.5px, -0.5px) rotate(0.5deg); }
6% {
  transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
8% {
  transform: translate(2.5px, 2.5px) rotate(-0.5deg); }
10% {
  transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
12% {
  transform: translate(-0.5px, -0.5px) rotate(1.5deg); }
14% {
  transform: translate(1.5px, 0.5px) rotate(1.5deg); }
16% {
  transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
18% {
  transform: translate(1.5px, 2.5px) rotate(1.5deg); }
20% {
  transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
22% {
  transform: translate(2.5px, 1.5px) rotate(-0.5deg); }
24% {
  transform: translate(-0.5px, 2.5px) rotate(1.5deg); }
26% {
  transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
28% {
  transform: translate(-0.5px, -0.5px) rotate(1.5deg); }
30% {
  transform: translate(2.5px, 2.5px) rotate(1.5deg); }
32% {
  transform: translate(0.5px, 0.5px) rotate(1.5deg); }
34% {
  transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
36% {
  transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
38% {
  transform: translate(2.5px, -1.5px) rotate(1.5deg); }
40% {
  transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
42% {
  transform: translate(2.5px, 0.5px) rotate(1.5deg); }
44% {
  transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
46% {
  transform: translate(-0.5px, -1.5px) rotate(1.5deg); }
48% {
  transform: translate(-1.5px, -0.5px) rotate(1.5deg); }
50% {
  transform: translate(0.5px, 1.5px) rotate(0.5deg); }
52% {
  transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
54% {
  transform: translate(-1.5px, -0.5px) rotate(-0.5deg); }
56% {
  transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
58% {
  transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
60% {
  transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
62% {
  transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
64% {
  transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
66% {
  transform: translate(2.5px, -1.5px) rotate(1.5deg); }
68% {
  transform: translate(2.5px, 0.5px) rotate(-0.5deg); }
70% {
  transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
72% {
  transform: translate(0.5px, 2.5px) rotate(-0.5deg); }
74% {
  transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
76% {
  transform: translate(2.5px, 1.5px) rotate(0.5deg); }
78% {
  transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
80% {
  transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
82% {
  transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
84% {
  transform: translate(2.5px, 2.5px) rotate(-0.5deg); }
86% {
  transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
88% {
  transform: translate(0.5px, -0.5px) rotate(1.5deg); }
90% {
  transform: translate(-0.5px, 1.5px) rotate(-0.5deg); }
92% {
  transform: translate(-0.5px, -1.5px) rotate(0.5deg); }
94% {
  transform: translate(1.5px, 0.5px) rotate(1.5deg); }
96% {
  transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }
98% {
  transform: translate(0.5px, 1.5px) rotate(-0.5deg); }
0%, 100% {
  transform: translate(0, 0) rotate(0); } 
}

span.bouncing i {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-45px);
  }
  60% {
    transform: translateY(-25px);
  }
}

span.popping i {
  animation: pop 2s infinite;
}

@keyframes pop {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(45px);
  }
  60% {
    transform: translateY(25px);
  }
}